body {
    display: flex;
    justify-content: center; /* 가로 중앙 */
    align-items: center; /* 세로 중앙 */
    height: 180vh; /* 화면 전체 높이 */
    margin: 0;
    background-image: url('image/travel_background.jpg'); /* ✅ 배경 이미지 추가 */
    background-size: 100%; /* 화면에 꽉 차게 */
    background-repeat: no-repeat;
}
 
#startBtn {
  background: none;
  border: none;
  cursor: pointer;
  border: none;
}

#startBtn img {
  width: 100px;  /* 버튼 크기 조정 */
}
